* {
    padding: 0;
    margin: 0;
}

.block_message {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100vh;
    background-color: #222222;
}

.message_block {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #464646;
    padding: 20px 20px;
    color: #fff;
}

.message_block img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid red;
    margin-bottom: 10px;
}

.message_block a {
    text-decoration: none;
    color: #fff;
}

.info_friend {
    margin-left: 20px;
}