* {
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
}

body {
    background-color: #3d3d3d;
}

/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    background-color: #222222;
    border-bottom: 2px solid red;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 30px;
}

.header a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.header a:hover {
    padding-bottom: 10px;
    border-bottom: 4px solid red;
}

/* News */

.news {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    align-content: flex-end;
    row-gap: 30px;
    column-gap: 90px;
}

.block__news {
    width: 500px;
    display: flex;
    align-content: space-around;
    padding: 30px;
    background-color: #222222;
    border-radius: 30px;
    border: 2px solid red;
}

.block__news img {
    width: 100%;
}

.block__news a {
    color: #fff;
    text-decoration: none;
}

/* Посты */

.article {
    background-color: #222222;
    color: white;
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid red;
    line-height: 150%;
}

.name_com {
    display: flex;
    justify-content: center;
}

.article h2 {
    display: block;
    margin-bottom: 10px;
}

/* Лайк */

.likes {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.like-off {
    fill: white;
}

.like-on {
    fill: red;
}