body {
    font-size: 20px;
}

.profile {
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.profile p {
    font-weight: bold;
}

.profile img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid black; 
}

.change_photo {
    border-radius: 50%;
}

.reg-auth a {
    margin-left: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.reg-auth a:hover {
    color: red;
}

